.liquidata_selector_highlight {
    outline: 5px dotted #2378fa !important;
    outline-offset: 5px !important;
    box-shadow: 0 0 5px #2378fa !important;
    opacity: 1 !important;
}

.liquidata_selected {
    outline: 5px solid #768dff !important;
    outline-offset: 5px !important;
    box-shadow: 0 0 5px #768dff !important;
    opacity: 1 !important;
}

.liquidata_relative {
    outline: 5px solid #00a804 !important;
    outline-offset: 5px !important;
    box-shadow: 0 0 5px #00a804 !important;
    opacity: 1 !important;
}