@layout MainLayout
@using Liquidata.Common.Actions.Enums
@using MudBlazor
@inherits ClickDisplayViewModel

<MudStack Row="true" style="width: 100%; height: 100%;">
    <div class="verticalCenter">
        @BuildActionText()
    </div>
</MudStack>

