@layout MainLayout
@using MudBlazor
@inherits ExecuteTemplateDisplayViewModel

<MudStack Style="width: 100%; height: 100%;" Row="true">
    <div class="verticalCenter">
        Execute template @(ExecutionTemplate?.Name)
    </div>
</MudStack>