@layout MainLayout
@using MudBlazor
@inherits ExecuteScriptDisplayViewModel

<MudStack Row="true" style="width: 100%; height: 100%;">
    <div class="verticalCenter">
        Execute script
    </div>
</MudStack>