@layout MainLayout
@using Liquidata.Common.Extensions
@using MudBlazor
@inherits ExtractDisplayViewModel

<MudStack Row="true" style="width: 100%; height: 100%;">
    <div class="verticalCenter">
        Extract @(TypedAction.FieldType.BuildFriendlyName(true)) <b>@(TypedAction.Name)</b>
    </div>
</MudStack>