@layout MainLayout
@using MudBlazor
@inherits JumpTargetDisplayViewModel

<MudStack Row="true" style="width: 100%; height: 100%;">
    <div class="verticalCenter">
        Jump target <b>@(TypedAction.Name)</b>
    </div>
</MudStack>