@layout MainLayout
@using MudBlazor
@inherits RelativeSelectDisplayViewModel

<MudStack Row="true" style="width: 100%; height: 100%;">
    <div class="verticalCenter">
        Relative select <b>@(TypedAction.Name)</b>
    </div>
</MudStack>