@layout MainLayout
@using MudBlazor
@inherits ScreenCaptureDisplayViewModel

<MudStack Row="true" style="width: 100%; height: 100%;">
    <div class="verticalCenter">
        Save screenshot <b>@(TypedAction.Name)</b>
    </div>
</MudStack>