@layout MainLayout
@using MudBlazor
@inherits SelectDisplayViewModel

<MudStack Row="true" style="width: 100%; height: 100%;">
    <div class="verticalCenter">
        Select <b>@(TypedAction.Name)</b>
    </div>
</MudStack>