@layout MainLayout
@using MudBlazor
@inherits SolveCaptchaDisplayViewModel

<MudStack Row="true" style="width: 100%; height: 100%;">
    <div class="verticalCenter">
        Solve captcha
    </div>
</MudStack>