@layout MainLayout
@using Liquidata.Common.Extensions
@using MudBlazor
@inherits StopDisplayViewModel

<MudStack Row="true" style="width: 100%; height: 100%;">
    <div class="verticalCenter">
        Stop @(TypedAction.StopType.BuildFriendlyName(true)) execution
    </div>
</MudStack>